.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  max-width: 984px;
  margin: 0 auto;
}
.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  max-width: 720px;
  margin-top: 90px;
  margin-bottom: 32px;
}
.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 720px;
  margin-bottom: 64px;
}
.lead__image {
  max-width: 100%;
  margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.5;
    max-width: 288px;
    margin: 50px 16px 16px;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.5;
  }
  .lead__image {
    margin-bottom: 64px;
  }
}
