.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 92px;
}
.photo-grid__item {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 64px 24px 88px;
  }
}
@media screen and (max-width: 600px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
