.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  padding: 0 110px;
  margin-bottom: 80px;
}
.place__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 460px;
  margin-top: 90px;
  margin-bottom: 32px;
}
.place__website-heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #aaaaaa;
}
.place__artist {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
}
.place__image {
  max-width: 100%;
  margin-bottom: 48px;
}
.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.place__button {
  padding: 13px 20px;
  width: 356px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
