.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title artists"
    "image text"
    "button text";
  grid-gap: 40px;
  margin: 90px 148px;
}
.place__title {
  grid-area: title;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  max-width: 460px;
  margin: 0;
}
.place__website {
  grid-area: artists;
  align-content: end;
}
.place__website-heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #aaaaaa;
}
.place__artist {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
}
.place__image {
  grid-area: image;
  max-width: 100%;
  background: #000000;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  align-self: baseline;
}
.place__image:hover {
  opacity: 0.5;
}
.place__paragraphs {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.place__button {
  grid-area: button;
  padding: 13px 20px;
  width: 355px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  align-self: start;
}
.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media screen and (max-width: 1024px) {
  .place {
    margin: 90px 24px;
    max-width: 100%;
  }
  .place__title {
    font-size: 42px;
    margin-top: 0;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  }
  .place__image {
    width: 100%;
    display: block;
  }
  .place__button {
    width: 100%;
    padding: 13px 6px;
  }
}
@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "text"
      "button";
    gap: 32px;
    margin: 50px auto;
  }
  .place__title {
    margin: 50px 16px 30px;
  }
  .place__website {
    margin: 0px 16px;
  }
  .place__paragraph {
    margin: 0px 16px;
  }
  .place__button {
    font-size: 14px;
    margin-top: 30px;
    width: auto;
    padding: 13px 6px;
    margin: 0px 16px;
  }
}
